/* navigation */
#QA {
  background-color: white;
  color: black;
  border: 1px solid black;

}

#pQA:hover {
  background-color: red;
}

#QA:hover {
  background-color: rgba(3, 253, 3, 0.75);
}

#more {
  background-color: white;
  color: black;

}

#more button {
  color: black;

}

#pQA {
  background-color: white;
}

#pQA a {
  color: black;
}